
/* section-tree */
@media screen and (min-width: 320px) {
  .media-section-tree {
    max-width: 320px;
  }
  
  .all-section-tree {
    display: flex;
    row-gap: 72px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .second-heading {
    display: flex;
    justify-content: center;
  }

  .list-section-tree {
  width: 264px;
  display: inline-table;
  }
}

@media screen and (min-width: 768px) {
  .media-section-tree {
    max-width: 768px;
  }
  
  .all-section-tree {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .media-section-tree {
  max-width: 1158px;
}
}
/* section-tree */

/* section-two */
@media screen and (min-width: 320px) {
  .media-section-two {
    max-width: 320px;
  }

  .icons {
    display: none;
  }

  .list-section-two {
    
    flex-direction: column;
    margin: 0 auto;
    row-gap: 72px;
  }
  
  .paragraph {
    width: 288px;
  }
  
  
  .title {
    text-align: center;
    width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .media-section-two {
    max-width: 768px;
  }


  .list-section-two {
    
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
    
    flex-flow: wrap;
    /* flex-basis: calc((100% - 16px) / 2); */
  }
  
  .paragraph {
    width: 356px;
  }
  
  .lists-section-two {
    width: 356px;
    height: 120px;
  }
  
  .title {
    font-size: 36px;
    display: flex;
  }
}

@media screen and (min-width: 1158px) {
  .media-section-two {
    max-width: 1158px;
  }

  .icons {
    display: flex;
  }
  
  .list-section-two {
    
  }

  .lists-section-two {
    width: 264px;
    height: 224px;
  }

  .title {
    font-size: 20px;
  }

  .paragraph {
    width: 264px;
  }
}
/* section-two */


/* section-one */
@media screen and (min-width: 320px) {
  

  .media-section-one-container {
    
    max-width: 320px;
  }

  .media-section-one {
    height: 432px;
    
    padding: 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/sectionone-mobile.jpg);
  }

  .heading-first {
    padding-top: 72px;
    margin: 0px 0px 77px 15%;
    font-size: 36px;
    width: 200px;
  }
  
  .button-one {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  } 
}

@media screen and (min-width: 768px) {
  .media-section-one {
    
    
    height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/sectionone-tablet.jpg);
  }

  .media-section-one-container {
    height: 436px;
    max-width: 768px;
  }

  .heading-first {
    width: 496px;
    margin: 0 auto;
    padding-top: 112px;
    
    font-size: 56px;
  }
  
  .button-one {
    margin-top: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  } 
}

@media screen and (min-width: 1158px) {
  .media-section-one {
    height: 600px;
    
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/sectionone-tablet-main.jpg);
  }

  .media-section-one-container {
    max-width: 1158px;
  }


  .heading-first {
    padding-top: 188px;
  }
  
  .button-one {
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  } 
}

/* section-one */

/* header */
@media screen and (min-width: 320px) {
  header {
    width: 100%;
  }
  
  .header-container {
  max-width: 320px;
  height: 56px;
  }

  .menu-one {
    display: none;
  }

  

  .address-one {
    display: none;
  }

  .address-one-burger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
  }
  
  .header-container {
  max-width: 768px;
  height: 72px;
  }

  .menu-one {
    display: flex;
  }

  .studio-list {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    text-decoration: none;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: black;
  }

  .one {
    color: #404bbf;
  }

  .address-one {
    display: flex;
  }

  .address-list {
    display: block;
  }

  .address-one-burger {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  header {
    width: 100%;
  }
  
  .header-container {
  max-width: 1158px;
  height: 56px;
  padding: 0px 78px;
  }

  .menu-one {
    display: flex;
  }

  .studio-list {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    text-decoration: none;
    padding: 16px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: black;
  }

  .one {
    color: #404bbf;
  }

  .address-one {
    display: flex;
  }

  .address-list {
    display: flex;
  }

  .address-one-burger {
    display: none;
  }
}
/* header */

/* section-four */
@media screen and (min-width: 320px) {
  .media-section-four {
    max-width: 320px;
  }
  .all-section-four {
    flex-direction: column;
  }
  .list-section-four  {
    margin: 0 auto;
    width: 288px;
  }

  .all-section-four .list-section-four {
    width: calc((100% - 48px) / 1);
    width: 288px;
  }
}

@media screen and (min-width: 768px) {
  .media-section-four {
    max-width: 768px;
  }
  .all-section-four {
    /* display: flex; */
    flex-direction: row;
    /* flex-wrap: wrap; */
    row-gap: 72px;
  }
  

  .all-section-four .list-section-four {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .media-section-four {
    max-width: 1158px;
    padding: 0;
  }

  .all-section-four .list-section-four {
    width: 360px;
  }
}
/* section-four */

/* footer */
@media screen and (min-width: 320px) {
  

  
  .footer-container {
    max-width: 320px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* align-content: center; */
  }
  .logo-paragraph {
    margin: 0px auto 72px;
  }

  .logo-two {
    display: flex;
    justify-content: center;
  }

  .social-media {
    display: flex;
    justify-content: center;
  }

  .container-footer {
  margin: 0 auto;
  }

  .modal-graph {
    margin: 0 auto;
  }

  .subscribe {
    display: flex;
    justify-content: center;
  }

  .form-footer {
    display: flex;
    flex-direction: column;
  }

  .button-footer {
    margin: 0 auto;
    display: flex;
    width: 165px;
  }

  /* .label-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
  } */
}

@media screen and (min-width: 768px) {
  .footer-container {
    /* display: flex;
    flex-direction: inherit; */
    max-width: 768px;
    /* margin-left: 108px; */
  }
  .logo-paragraph {
    /* margin: 0px 24px 72px 0px; */
    margin: 0px 0px 0px 108px;
  }

  .logo-two {
    justify-content: inherit;
  }

  .social-media {
    justify-content: inherit;
  }

  .container-footer {
    margin: 0px 0px 0px 24px;
    
  }

  .modal-graph {
    margin: 72px 0px 0px 108px;
    padding: 0;
  }

  .subscribe {
    justify-content: inherit;
  }

  .form-footer {
    flex-direction: inherit;
  }

  .button-footer {
    
  }

  /* .label-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
  } */
}

@media screen and (min-width: 1158px) {
  .footer-container {
    align-items: center;
    padding: 0;
    display: flex;
    max-width: 1158px;
    flex-wrap: inherit;
  }
  .logo-paragraph {
    margin: 0 auto;
  }

  .logo-two {
    
  }

  .social-media {
    
  }

  .container-footer {
    margin: 0px 0px 0px 120px;
  }

  .modal-graph {
    margin: 0px 0px 0px 80px;
  }

  .subscribe {
    
  }

  .form-footer {
    
  }

  .button-footer {
    width: 165px;
  }

  /* .label-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
  } */
}
/* footer */

/* modal-graph-fo */
@media screen and (min-width: 320px) {
  .modal-graph-fo {
    max-width: 320px;
    width: 288px;
    height: 623px;
  }
  
  .check-box-label {
    /* letter-spacing: 0em; */
  }
  
}

@media screen and (min-width: 768px) {
  .modal-graph-fo {
    max-width: 768px;
    width: 408px;
    height: 584px;
  }
  
}

@media screen and (min-width: 1158px) {
  .modal-graph-fo {
    max-width: 1158px;
    width: 408px;
    height: 584px;
  }
  
}
/* modal-graph-fo */